.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.login h1 {
  margin-bottom: 2rem;
}

.form div {
  margin-bottom: 0.625rem;
}

.form div input {
  border-radius: 0.313rem;
}

.checkbox div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox div span {
  margin-bottom: 0.625rem;
}

.form button {
  margin-top: 1em;
}

.error {
  color: red;
}